*{
    margin : 0%;
    padding : 0%;
}

html,body{
    width : 100%;
    height :100%;
}

body {
    background-color : antiquewhite;
    
    align-items: center;
    justify-content: center;
    display:flex;
}

div{  
    font-size : xx-large;
    font-family :'Times New Roman', Times, serif;
}

#box1{  
    width : 200px; 
    height :200px ;  /* Using px too make perfect square */ 
    background-color : yellowgreen;
    
    align-items: center;
    justify-content: center;
    display:flex;
}

#box2{  
    
    width : 30%;       /* 30% width of its parent that is body */
    height : 30% ;     /* 30% height of its parent that is body */
    background-color : palevioletred;

    align-items: center;
    justify-content: center;
    display:flex;

    border-radius : 15px ;  /* to give curve to the border (in px or %) */
    border-style: double;
    border-width : 5px ;    /* determines the boldness of the border */
}


#box3{
   
    width : 200px; 
    height : 200px ; 
    background-color : yellowgreen;

    align-items: center;
    justify-content: center;
    display:flex;

    border-radius : 50%;   /* to make a circle use radius = 50% */              
    border-style : solid ;
    border-width : 5px ; 
}
