*{
    margin : 0%; /* tells the distance from the top , and left .*/
    padding : 0%; /* tells the distance of the text in its backgroud */  
}

html,body{
    width : 100%;
    height : 100%;
}

body{
    background-color: antiquewhite;
}

.abc{ /* the property written in this class will be implemented in all the places where it iss called . */
    font-style: italic;
    font-weight : bolder ;
    color : green ;
    text-align: center ;
}

h2{ 
 width :40%; /* of the parent that is body */
 margin : 30px;  /* Denotes the space of the box from the top and the left of the screen but give margine in all the direction outside of the box*/
 padding : 30px; /* PADDING denotes the allignment of the content written or placed inside the box    */
 background-color: aquamarine;
}


h3{
    width : 40%;
    height : 200px; /* as height is more than bottom padding so it will dominate over it */
    margin : 40px;
    padding : 60px 30px 100px 10px ; /* top right bottom left */
    background-color: blueviolet;
}