*{
    margin :  0%;
    padding : 0%;
}

html,body{
    width : 100%;
    height : 100%;
}

body{
    background-color: violet;
}
div{
    background-color: black;
    width : 100%;
    height : 12%;
    color : white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    align-items : center;
    justify-content: end;
    
}

li{
    display : inline; /* to bring the list items in same line as they are block elements */
    margin : 40px;
    font-size: xx-large;
    padding : 10px;
}

li:hover{
    color: violet;
    cursor : pointer ;
}


